/* line 3, ../sass/banner-slider.scss */
.flexslider {
  position: relative;
  font-weight: bold;
  color: #FFF;
  border: 0 none;
  box-shadow: none;
  margin: 0 0 1em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* line 12, ../sass/banner-slider.scss */
.flexslider .banner-slide-text {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: rgba(51, 51, 51, 0.7);
  width: 100%;
  height: 30%;
}
/* line 20, ../sass/banner-slider.scss */
.flexslider h2.banner-slide-title {
  position: absolute;
  top: 18px;
  right: 20px;
  margin: 0;
  line-height: 0;
}
/* line 26, ../sass/banner-slider.scss */
.flexslider h2.banner-slide-title a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
/* line 32, ../sass/banner-slider.scss */
.flexslider .banner-slide-caption {
  position: absolute;
  top: 32px;
  right: 20px;
}
/* line 37, ../sass/banner-slider.scss */
.flexslider .banner-slide-attrib {
  position: absolute;
  top: 60px;
  right: 20px;
  font-style: italic;
}
/* line 43, ../sass/banner-slider.scss */
.flexslider .edit-link a {
  position: absolute;
  top: 40%;
  right: 2px;
  background: #ccc;
}
